.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-height: 640px;
  min-height: 640px;
  border: none;
  border-radius: 0;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.bkgBlack {
  background-color: #000 !important;
}

.clrWhite {
  color: #fff;
}

.home {
  height: 100vh;
  padding-top: 10vh;
  /*background-image: url("../static/bkgHomeImage.png");*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../static/bkgHomeImage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cases {
  padding-top: 10vh;
}

.cases img {
  width: 100% !important;
}

.mentions {
  padding-top: 84px;
  border-top: 1px solid #687363;
  margin: auto;
}

.mentionsRow1 {
  display: flex;
  justify-content: center;
  margin: auto;
}

.mentionsRow1 ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.mentionsRow1 li {
  /*margin: 0 50px;*/
}

.imageTop {
  padding-top: 32px !important;
}

.buttonLeft {
  margin-left: 15px !important;
}

.connect {
  padding-top: 84px;
  border-top: 1px solid #687363;
  margin: auto;
}

.connect a {
  color: #494FF2;
  font-weight: bold;
  text-decoration: underline;
}

.letsConnect {

}

.card:hover {
  color: #fff;
  cursor: pointer;
}

.bkgTrip {
  background-color: #4F594A !important;
}
.bkgTrip:hover {
  background-color: #4F594A;
}

.bkgRoom {
  background-color: #236282 !important;
}
.bkgRoom:hover {
  background-color: #236282;
}

.bkgFurnish {
  background-color: #507B6D !important;
}
.bkgFurnish:hover {
  background-color: #507B6D;
}

.bkgAuto {
  background-color: #019388 !important;
}
.bkgAuto:hover {
  background-color: #019388;
}

.bkgBank {
  background-color: #6EC446 !important;
}
.bkgBank:hover {
  background-color: #6EC446;
}

.bkgKids {
  background-color: #F56F6F !important;
}
.bkgKids:hover {
  background-color: #F56F6F;
}

.marginBottom24 {
  margin-bottom: 24px;
}

.marginBottom64 {
  margin-bottom: 64px;
}

.marginBottom120 {
  margin-bottom: 120px !important;
}

.center {
  margin: auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
